# Nombre de la Base de Datos
DB_NAME=db-legal
# Nombre de usuario de la Base de Datos
DB_USER=
# Contraseña de la Base de Datos
DB_PASSWORD=
# Nombre del servicio en docker-compose
DB_HOST=db-legal
# Puerto de la Base de Datos
DB_PORT=5432
# URL completa de la conexión a la Base de Datos
# Formato: postgresql://usuario:contraseña@host:puerto/nombre_base_de_datos 
# (en este puerto se ha cambiado a 5433 para evitar conflictos con el host, el puerto dentro del contenedor sigue siendo 5432)
DB_URL=
# Clave API obtenida en Google AI Studio
GOOGLE_API_KEY=
# Límite de tokens para las respuestas de la IA
MAX_TOKENS=
# Clave secreta para Django
SECRET_KEY=
# Lista de dominios o IPs permitidas separadas por comas (ejemplo: localhost, )
ALLOWED_HOSTS=
