{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    {% tailwind_css %}
</head>
<body class="h-screen flex items-center justify-center">
    <main class="h-8/12 w-full flex flex-col items-center justify-evenly">
        <h1 class="font-bold text-center text-2xl">Iniciar Sesión</h1>
        <form class="h-7/12 w-10/12 md:w-7/12 xl:w-5/12 2xl:w-4/12 flex flex-col items-start justify-evenly" action="" method="post">
            {% csrf_token %}
            <div>
                <label class="block mb-2.5 text-lg font-medium" for="id_username">Usuario</label>
                <input class="w-2xs md:w-sm lg:w-md 2xl:w-lg bg-neutral-100 block border border-neutral-200 p-2 rounded-md shadow-xs text-lg focus:ring-2" type="text" name="username" id="id_username" maxlength="150" placeholder="Nombre de usuario..." required>
            </div>

            <div>
                <label class="block mb-2.5 text-lg font-medium" for="id_password">Contraseña</label>
                <input class="w-2xs md:w-sm lg:w-md 2xl:w-lg bg-neutral-100 block border border-neutral-200 p-2 rounded-md shadow-xs text-lg focus:ring-2" type="password" name="password" id="id_password" placeholder="Contraseña..." required>
            </div>

            <div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="mt-1 text-lg text-red-700">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="w-full flex items-center justify-end">
                <button class="bg-neutral-100 block border border-neutral-200 cursor-pointer p-2 rounded-md shadow-xs text-lg focus:ring-2" type="submit">Iniciar Sesión</button>
            </div>
        </form>

        <p>Si no tienes cuenta, regístrate <a class="font-bold underline" href="/register/">aquí.</a></p>
    </main>
</body>
</html>